{% extends "client/layout_client.html" %}
{% block body %}

<div class="m-auto p-3 border" style="width: 500px">
    <form action="/client/coordonnee/edit_adresse" method="post">
        <input type="hidden" name="id_coordonne" value="{{ adresse.id_coordonne }}"></td>

        <table class="table">
            <tr>
                <td>Utilisateur connecté :</td>
                <td>Nom : {{ utilisateur.nom }} , login : {{ utilisateur.login }}</td>
            </tr>
            <tr>
                <td class="form-check-label">Nom Prénom (pour la livraison/facturation) :</td>
                <td><input class="form-control" type="text" name="nom" required  maxlength="50" value="{{ adresse.nom_prenom }}"></td>
            </tr>
            <tr>
                <td class="form-check-label">Numéro de rue et nom :</td>
                <td><input class="form-control" type="text" name="rue" required  value="{{ adresse.num_rue_nom }}"></td>
            </tr>
            <tr>
                <td class="form-check-label">Code postal :</td>
                <td><input class="form-control" type="number" name="code_postal" required  minlength="5" maxlength="5" value="{{ adresse.code_postal }}"></td>
            </tr>
            <tr>
                <td class="form-check-label">Ville :</td>
                <td><input class="form-control" type="text" name="ville" required  maxlength="50" value="{{ adresse.ville }}"></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Valider</button>
    </form>

</div>
{% endblock %}