
body {
    --bg1: #151515;
    --bg2: #222222;

    --font-color: #fff;
    --title-color: #A2B4D0;
    --second-font-color: #CDD2D7;

    background: var(--bg2);
    color: var(--font-color);

    margin: 0;
    padding: 0;
}

body.light {
    --bg1: #DEDEDE;
    --bg2: #FDFDFD;

    --title-color: #393E46;
    --font-color: #000;
    --second-font-color: #333639;
}